[submodule "namespaces/kips"]
	path = namespaces/kips
	url = git@github.com:kadena-io/KIPs.git
[submodule "namespaces/marmalade"]
	path = namespaces/marmalade
	url = git@github.com:kadena-io/marmalade.git
[submodule "namespaces/marmalade-ng"]
	path = namespaces/marmalade-ng
	url = git@github.com:Marmalade-NG/marmalade-ng.git
[submodule "namespaces/pact-util-lib"]
	path = namespaces/pact-util-lib
	url = git@github.com:CryptoPascal31/pact-util-lib.git
